.map{
    
    height:750px;
}

.info {
    padding: 6px 8px;
    background: white;
    background: rgba(255,255,255,0.9);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    max-width: 25%;
    font: 14px/16px Arial, Helvetica, sans-serif;
    color: #000000; 
}

.info h2 {
    margin: 0 0 10px;
    color: #000000;
}

.legend {
    line-height: 18px;
    color: #000000;
}
.legend i {
    width: 16px;
    height: 16px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}

.leaflet-control-layers {
    display: inline-block;
    float: none;
  }


.social{
    background-color: #4caef9;
    margin: -6px -8px 6px -8px;
    padding: 6px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.environmental{
    background-color: #65e2ac;
    margin: -6px -8px 6px -8px;
    padding: 6px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}

.economic{
    background-color: #3b5792;
    margin: -6px -8px 6px -8px;
    padding: 6px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}

.spatial{
    background-color: #FFD568;
    margin: -6px -8px 6px -8px;
    padding: 6px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}

.technical{
    background-color: #ed896a;
    margin: -6px -8px 6px -8px;
    padding: 6px 8px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;  
}
